body{
  font-family: Avenir, Heveltica, sans-serif;
}

input {
  border: none; /* Removes the default border */
}

input:focus {
  outline: none /* Removes the border when the input is clicked */
}

.game {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.wrapperSudokuGrid {
  position: relative;
  padding: 0 225px;
}

button{
    max-lines: 1;
    text-overflow: ellipsis;
    background-color: darkorange;
    font-size: medium;
    color: black;
    border: none;
}

button:hover{
    cursor: pointer;
    background-color: ghostwhite;
    color: darkred;
    border: 1px solid black;
}

li:nth-child(n):nth-child(-n+9) {
    border-top-width: 4px;
}
li:nth-child(n+73):nth-child(-n+81) {
    border-bottom-width: 4px;
}
li:nth-child(3n) {
    border-right-width: 4px;
}
li:nth-child(9n+1) {
    border-left-width: 4px;
}
li:nth-child(n+19):nth-child(-n+27) {
    border-bottom-width: 4px;
}
li:nth-child(n+46):nth-child(-n+54) {
    border-bottom-width: 4px;
}

ul {
    display: grid;
    grid-template-columns: repeat(9, 3vw);
    grid-template-rows: repeat(9, 3vw);
    justify-content: center;
    align-content: center;
    grid-gap: 0rem;
    list-style: none;
    margin: 0 0 1vw;
    padding: 0;
    font-size: calc(1vw + 10px);
}

li {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
    text-align: center;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerOptions {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
}

/* Number grid HUD part */
.numberGrid {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: [col1] 33% [col2] 33% [col3] 33%;
    grid-gap: 10px;
    grid-template-rows: [row1] 33% [row2] 33% [row3] 33%;
    text-align: center;
    color: #FFF;
}

.titleContainer {
  position: absolute;
  top: 5vh;
}

.note {
  background: #ddd;
  font-family: monospace;
  padding: 2em 5em;
  font-size: 120%;
  order: -1;
}
@supports (display:grid) {
  .note {display:none;}
}

@media screen and (max-width: 1400px) {

  .titleContainer{
    top: 0
  }

  ul {
    grid-template-columns: repeat(9, 5vw);
    grid-template-rows: repeat(9, 5vw);
    margin: 0 0 3vw;
    font-size: calc(3vw + 10px);
  }
}

@media screen and (max-width: 1024px){
  ul {
    grid-template-columns: repeat(9, 6vw);
    grid-template-rows: repeat(9, 6vw);
    margin: 0 0 4vw;
    font-size: calc(3vw + 10px);
  }

  .numberGrid{
    display: block;
  }
  .numberGrid div{
    margin: 20px 0;
  }

.wrapperSudokuGrid {
  padding: 0 100px;
}
}

@media  screen and (max-width: 640px) {
  .numberGrid{
    display: grid;
    position: unset;
    top: unset;
    left: unset;
    bottom: 0;
  }
  .numberGrid div{
    margin: unset;
  }

  .wrapperSudokuGrid {
    position: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: unset;
  }

}

@media screen and (max-width: 500px){
   ul {
    grid-template-columns: repeat(9, 8vw);
    grid-template-rows: repeat(9, 8vw);
    margin: 0 0 6vw;
    font-size: calc(5vw + 10px);
  }
}